.single-product {
    display:flex;
    /* flex-direction: column; */
    justify-content: center;
    gap: 30px;
    width: fit-content;
}

.singleprodetails {
    display: flex;
    flex-direction: column;
    width: 250px;
}
.single-product img {
    height: 360px;
    width: 200px;
}
.cartbtn {
    color: black;
    width: 150px;
    gap:10px;
    background-color: gold;
    height: 70px;
}
.singleProbuttons {
    display: flex;
    gap: 30px;
}